.icon {
    color: white;
    font-size: 24px;
}

.menu {
    padding: 12px;
}

.dropdownOverlay {
    width: 485px;
    max-width: 100%;
}

.restoreButtonPopoverOverlay {
    z-index: 9999;
}

.restoreButtonContainer {
    margin: 4px 0;
    width: 100%;
    text-align: right;
}
