name: CI (GitHub Pages)

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Deploy to GitHub Pages
        run: ./node_modules/.bin/gh-pages -d build -r 'https://${{ secrets.GITHUB_TOKEN }}@github.com/$ {{ github.repository }}'
