name: CI (GitHub Pages)

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '10.x'
          
      - name: Install dependencies
        run: npm install
        
      - name: Build and publish to GitHub Pages
        run: npm run deploy
